@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: wheat;
    color: white; 
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 15px 0px;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.invert{
    filter: invert(1);
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 15px 10px;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
}
.heading img{
    width: 20px;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 6px;
    position: absolute;
    bottom: 10px;
    padding: 0px 0px 10px 0px;
}
.footer a{
    color: grey;
}
.library{
    min-height: 80vh;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.header > *{
    padding: 20px;
}
.spotifyPlaylist{
    padding: 16px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(66, 63, 63);
    position: relative;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    position: absolute;
    top: 165px;
    left: 150px;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.card:hover .play{
    opacity: 1;
    transform: translateX(0) translateY(-15px);
}
.buttons > *{
    margin: 0px 5px;
}
.signupbtn{
    font-weight: bold;
    background-color: rgb(34, 34, 34);
    color: rgb(87, 83, 83);
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
}
.signupbtn:hover{
    font-size: 16.5px;
    color: white;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: rgb(87, 83, 83);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    width: 85px;
    font-size: 16px;
}
.loginbtn:hover{
    font-size: 17px;
    color: rgb(35, 34, 34);
}